@import '../../../lib/config/mixins.scss';

.footer {
	width: 100%;

	@include md {
		padding: 0 20px;
	}

	.footer-content {
		margin: 0 auto;
		padding: 50px 20px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		max-width: 1200px;

		@include md {
			justify-content: space-between;
			grid-template-columns: repeat(4, 1fr);
		}

		.col {
			max-width: 250px;
			font-size: 12px;
			color: rgb(66, 66, 69);

			.title {
				margin-bottom: 10px;
				font-size: 12px;
				font-weight: 600;
				color: rgb(29, 29, 31);
			}

			ul {
				list-style-type: none;

				li {
					margin-bottom: 10px;
					font-size: 12px;
					width: max-content;

					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}

			span {
				&.text {
					margin-bottom: 10px;
					display: block;
					cursor: pointer;
				}
			}
		}
	}
	.bottom-bar {
		border-top: 1px solid rgba(0, 0, 0, 0.1);

		.bottom-bar-content {
			padding: 20px;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 10px;
			text-align: center;
			color: rgb(66, 66, 69);

			@include md {
				margin: 0 auto;
				padding: 0;
				flex-direction: row;
				justify-content: space-between;
				height: 60px;
				max-width: 1200px;
				text-align: left;
			}

			.copyright {
				font-size: 12px;

				.copyright-name {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.payments-icons {
			display: flex;
			gap: 10px;

			svg {
				font-size: 30px;
			}
		}
	}
}
