@import '../../lib/config/mixins.scss';

.category-page {
	margin: 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 500px;

	@include md {
		margin: 75px 0;
	}

	.layout {
		margin: 0 auto;
		max-width: calc(100% - 20px);

		@include md {
			max-width: 1200px;
		}
	}
}
