@import '../../../lib/config/mixins.scss';

.main-navbar {
	padding: 0 20px;
	color: #ffffff;
	background-color: #212121;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 100;

	@include md {
		padding: 0 40px;
	}

	.navbar-content {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		height: 50px;

		@include md {
			height: 70px;
		}

		.center {
			display: none;
			list-style-type: none;

			@include md {
				display: flex;
				gap: 25px;
			}

			li {
				font-size: 14px;
				letter-spacing: -0.02rem;
				color: var(--gray-color);
				cursor: pointer;

				&:hover {
					color: #ffffff;
				}
			}
		}

		.left {
			a {
				display: flex;
				align-items: center;

				svg {
					margin-bottom: 3px;
					font-size: 30px;
				}
			}
		}

		.right {
			display: flex;
			align-items: center;
			gap: 20px;

			@include md {
				font-size: 24px;
			}

			.icon {
				position: relative;
				cursor: pointer;

				svg {
					font-size: 20px;
				}

				span {
					padding: 2.5px;
					position: absolute;
					top: -5px;
					right: -12px;
					min-width: 20px;
					font-size: 12px;
					line-height: 1;
					text-align: center;
					background-color: var(--blue-color-dark);
					border-radius: 10px;
				}
			}
		}
	}

	&.sticky-navbar {
		position: sticky;
		top: 0;
		animation: stickyNav 0.3s ease forwards;
	}
}

@keyframes stickyNav {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
