@import '../../../lib/config/mixins.scss';

.cart-products {
	flex-grow: 1;
	overflow: auto;

	.cart-product {
		margin: 20px 15px;
		padding-bottom: 15px;
		display: flex;
		gap: 10px;
		border-bottom: 1px solid #d2d2d7;

		.img-container {
			width: 60px;
			height: 60px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}

		.prod-details {
			width: 100%;
			overflow: hidden;
			position: relative;

			.name {
				margin-bottom: 5px;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -0.5px;
				color: #1d1d1f;
			}

			.prod-quantity {
				margin-bottom: 5px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 14px;
				font-weight: 400;
			}

			.remove {
				margin-left: auto;
				width: max-content;
				font-size: 14px;
				font-weight: 400;
				color: #06c;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}

				&:active {
					text-decoration: none;
				}
			}
		}
	}
}
