@import '../../lib/config/mixins.scss';

.single-product-main-content {
	margin: 20px 0;

	@include md {
		margin: 75px 0;
	}

	.layout {
		margin: 0 auto;
		max-width: calc(100% - 20px);

		@include md {
			max-width: 1200px;
		}

		.single-product-page {
			display: flex;
			flex-direction: column;

			@include md {
				flex-direction: row;
			}

			.left {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				background-color: rgba(0, 0, 0, 0.05);

				@include md {
					width: 600px;
					height: 600px;
				}

				img {
					display: block;
					width: 100%;
				}
			}

			.right {
				padding-top: 20px;
				display: flex;
				flex-direction: column;

				@include md {
					padding: 0 35px;
				}

				.name {
					margin-bottom: 20px;
					font-size: 20px;
					line-height: 28px;

					@include md {
						font-size: 24px;
						line-height: 32px;
					}
				}

				.price {
					margin-bottom: 20px;
					font-size: 24px;
					line-height: 32px;
				}

				.desc {
					margin-bottom: 20px;
					font-size: 14px;
					line-height: 20px;
					color: #6b6b6b;

					@include md {
						font-size: 16px;
						line-height: 24px;
					}
				}

				.cart-buttons {
					display: flex;

					@include md {
						margin-top: 30px;
					}

					.quantity-buttons {
						margin-right: 10px;
						display: flex;
						width: fit-content;
						height: 50px;
						border: 2px solid rgba(0, 0, 0, 0.2);

						span {
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 18px;
							width: 40px;
							color: #6b6b6b;
							cursor: pointer;

							&:nth-child(1) {
								border-right: 2px solid rgba(0, 0, 0, 0.2);
							}

							&:nth-child(2) {
								width: 60px;
								cursor: default;
							}

							&:nth-child(3) {
								border-left: 2px solid rgba(0, 0, 0, 0.2);
							}
						}
					}
					.add-to-cart-button {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-grow: 1;
						width: 180px;
						height: 50px;
						font-size: 16px;
						color: #ffffff;
						background-color: #8e2de2;
						border: none;
						outline: none;
						border-bottom: 3px solid #6516aa;
						cursor: pointer;

						@include md {
							flex-grow: unset;
						}
					}
				}

				.divider {
					margin: 20px 0;
					width: 100%;
					height: 1px;
					background-color: rgba(0, 0, 0, 0.1);
				}

				.info-item {
					.text-bold {
						display: block;
						font-size: 18px;
						font-weight: 500;

						&:nth-child(1) {
							margin-bottom: 20px;
						}

						span {
							font-size: 16px;
							font-weight: 400;
							color: #6b6b6b;
							cursor: pointer;
						}

						svg {
							margin: 0 5px;
						}
					}
				}
			}
		}
	}
}
