@import '../../lib/config/mixins.scss';

.single-product-main-content {
	margin: 20px 0;
	color: rgb(29, 29, 31);

	@include md {
		margin: 75px 0;
	}

	.layout {
		margin: 0 auto;
		max-width: calc(100% - 50px);

		@include md {
			max-width: 1200px;
		}

		.single-product-page {
			display: flex;
			flex-direction: column;

			@include md {
				flex-direction: row;
			}

			.right {
				display: none;
				margin: 0 auto;
				width: max-content;

				@include md {
					display: flex;
				}
			}

			.left {
				padding-top: 20px;
				display: flex;
				flex-direction: column;
				line-height: 1.7;

				@include md {
					padding: 0 35px;
					min-width: 400px;
				}

				.new {
					font-size: 17px;
					color: #bf4800;
					letter-spacing: -0.2px;
				}

				.name {
					// margin-bottom: 20px;
					font-size: 24px;
					font-weight: 600;
					letter-spacing: -0.5px;

					@include md {
						font-size: 32px;
					}
				}

				.price {
					font-size: 17px;
					font-weight: 400;
				}

				.mobile-image {
					margin-bottom: 40px;
					display: flex;
					align-items: center;
					justify-content: center;

					@include md {
						display: none;
					}
				}

				.variant {
					margin: 15px 0;
					border: none;
					font-size: 17px;
					font-weight: 600;
					letter-spacing: -0.5px;

					.variant-list {
						margin-top: 10px;
						display: flex;
						gap: 15px;

						.variant-item {
							position: relative;

							input[type='radio'] {
								position: absolute;
								opacity: 0;

								+ .variant-label {
									// padding: 5px;
									position: relative;
									display: block;
									width: 42px;
									height: 42px;
									border-radius: 50%;
									cursor: pointer;

									// background-color: green;

									/* &:before {
										content: '';
										border-radius: 50%;
										background-color: purple;
										display: block;

										width: 32px;
										height: 32px;
										transition: all 250ms ease;
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
									} */

									.palette {
										border-radius: 50%;
										display: block;

										width: 32px;
										height: 32px;
										transition: all 250ms ease;
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
									}

									/* span {
										display: block;
										width: 1rem;
										height: 1rem;
										background-color: green;
										position: absolute;
										top: 0;
										left: 0;
										transform: translate(-50%, -50%);
									} */
								}

								&:checked {
									+ .variant-label {
										border: 2px solid rgb(0, 113, 227);
										cursor: default;
									}
								}

								/* &:focus {
									+ .variant-label {
										&:before {
											outline: none;
											border-color: red;
										}
									}
								} */

								/* &:disabled {
									+ .variant-label {
										&:before {
											box-shadow: inset 0 0 0 4px blue;
											border-color: darken(blue, 25%);
											background: darken(blue, 25%);
										}
									}
								} */

								/* + .variant-label {
									&:empty {
										&:before {
											margin-right: 0;
										}
									}
								} */
							}
						}
					}
				}

				.delivery {
					margin-bottom: 20px;
					letter-spacing: -0.2px;
					line-height: 1.4;

					.delivery-item {
						margin: 10px 0;
						display: flex;
						gap: 10px;

						ul {
							font-size: 14px;

							list-style-type: none;
							font-weight: 600;

							li {
								font-weight: 400;
							}

							.link {
								color: #0066cc;

								&:hover {
									text-decoration: underline;
									cursor: pointer;
								}
							}
						}
					}

					svg {
						font-size: 20px;
					}
				}

				/* .desc {
					margin-bottom: 20px;
					font-size: 14px;
					line-height: 20px;
					color: #6b6b6b;

					@include md {
						font-size: 16px;
						line-height: 24px;
					}
				} */

				/* .cart-buttons {
					display: flex;

					@include md {
						margin-top: 30px;
					}

					.quantity-buttons {
						margin-right: 10px;
						display: flex;
						width: fit-content;
						height: 50px;
						border: 2px solid rgba(0, 0, 0, 0.2);

						span {
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 18px;
							width: 40px;
							color: #6b6b6b;
							cursor: pointer;

							&:nth-child(1) {
								border-right: 2px solid rgba(0, 0, 0, 0.2);
							}

							&:nth-child(2) {
								width: 60px;
								cursor: default;
							}

							&:nth-child(3) {
								border-left: 2px solid rgba(0, 0, 0, 0.2);
							}
						}
					}
					.add-to-cart-button {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-grow: 1;
						width: 180px;
						height: 50px;
						font-size: 16px;
						color: #ffffff;
						background-color: #8e2de2;
						border: none;
						outline: none;
						border-bottom: 3px solid #6516aa;
						cursor: pointer;

						@include md {
							flex-grow: unset;
						}
					}
				} */

				.checkout-button {
					button {
						padding: 10px 0;
						width: 100%;
						font-size: 17px;
						letter-spacing: -0.2px;
						color: #ffffff;
						background-color: #0071e3;
						border-radius: 12px;
						border: none;
						outline: none;
						cursor: pointer;

						&:hover {
							background-color: #0077ed;
						}

						&:active {
							background-color: #006edb;
						}
					}
				}

				.divider {
					margin: 20px 0;
					width: 100%;
					height: 1px;
					background-color: rgba(0, 0, 0, 0.1);
				}

				.info-item {
					.text-bold {
						display: block;
						font-size: 18px;
						font-weight: 500;

						&:nth-child(1) {
							margin-bottom: 20px;
						}

						span {
							font-size: 16px;
							font-weight: 400;
							color: #6b6b6b;
							cursor: pointer;
						}

						svg {
							margin: 0 5px;
						}
					}
				}
			}
		}

		.recommendations {
			margin: 100px 0;

			.recommendations-header {
				margin-bottom: 50px;
				text-align: center;
				font-size: 28px;
				font-weight: 600;
				letter-spacing: -0.5px;

				@include md {
					font-size: 40px;
				}
			}
		}
	}
}
