@import '../../lib/config/mixins.scss';

.home-section {
	display: grid;
	grid-template-columns: 1fr;

	&[data-type='primary'] {
		.hero-banner {
			height: 500px;

			@include md {
				height: 636px;
			}
		}
	}

	&[data-type='secondary'] {
		@include md {
			grid-template-columns: 1fr 1fr;
		}

		.hero-banner {
			margin: 10px;
			height: 500px;

			@include lg {
				height: 624px;
			}

			h1 {
				@include md {
					font-size: 32px;
				}

				@include lg {
					font-size: 40px;
				}
			}

			h2 {
				@include md {
					font-size: 21px;
				}
			}

			.text-links {
				a {
					@include md {
						font-size: 17px;
					}

					@include lg {
						font-size: 17px;
					}
				}
			}

			.banner-content {
				img {
					width: 100%;
					transform-origin: bottom;
					transform: scale(1.4);
				}
			}
		}
	}
}
