@import '../../lib/config/mixins.scss';

.cart-panel {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	color: rgb(29, 29, 31);
	transform: translateX(100%);
	transition: transform 0.3s ease;
	z-index: 200 !important;

	&[data-open='true'] {
		transform: translateX(0);
	}

	@include md {
		width: auto;
	}

	.cart-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #ffffff;

		@include md {
			width: 340px;
		}

		.cart-header {
			padding: 20px 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h1 {
				font-size: 24px;
				font-weight: 600;
				letter-spacing: -0.2px;
			}

			.close-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				font-size: 24px;
				color: #6e6e73;
				background-color: #e8e8ed;
				border-radius: 50%;
				cursor: pointer;
			}
		}

		.empty-cart {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;

			p {
				color: #6e6e73;
				letter-spacing: -0.5px;
			}
		}

		.cart-footer {
			margin: 20px 15px;

			.subtotal {
				padding: 15px 0;
				font-size: 17px;
				letter-spacing: -0.5px;
				border-top: 1px solid #d2d2d7;
				border-bottom: 1px solid #d2d2d7;

				.subtotal-item {
					display: flex;
					align-items: center;
					justify-content: space-between;

					&:nth-child(1) {
						margin-bottom: 5px;
					}
				}
			}

			.total {
				margin-top: 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 21px;
				letter-spacing: -0.5px;
				font-weight: 600;
			}

			.checkout-button {
				margin-top: 20px;

				button {
					padding: 15px 0;
					width: 100%;
					font-size: 17px;
					letter-spacing: -0.2px;
					color: #ffffff;
					background-color: #0071e3;
					border-radius: 12px;
					border: none;
					outline: none;
					cursor: pointer;

					&:hover {
						background-color: #0077ed;
					}

					&:active {
						background-color: #006edb;
					}
				}
			}
		}
	}
}

@keyframes slideCartWindow {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
