@import '../../lib/config/mixins.scss';

.hero-banner {
	padding: 40px 0;
	background-image: linear-gradient(to right, #8e2de2, #4a00e0);
	position: relative;

	@include md {
		height: calc(100vh - 80px);
	}

	.content {
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column-reverse;
		max-width: calc(100% - 20px);
		height: 100%;
		position: relative;

		@include md {
			flex-direction: row;
			max-width: 1200px;
		}

		.banner-img {
			margin-bottom: 20px;
			width: 200px;
			position: relative;
			z-index: 9;

			@include md {
				margin: 50px 60px 0 0;
				width: 500px;
			}

			@include xxl {
				margin: 0;
				width: 600px;
			}
		}

		.text-content {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-align: center;
			color: #ffffff;

			@include md {
				position: absolute;
				left: 50px;
				top: 50%;
				transform: translateY(-50%);
			}

			@include xxl {
				left: 0;
			}

			h1 {
				margin-bottom: 20px;
				font-size: 80px;
				font-weight: 700;
				line-height: 1;

				@include md {
					font-size: 180px;
				}
			}

			p {
				margin-bottom: 20px;
				max-width: 300px;
				font-size: 14px;
				line-height: 20px;

				@include md {
					margin-bottom: 40px;
					max-width: 500px;
					font-size: 18px;
					line-height: 24px;
				}
			}

			.ctas {
				display: flex;
				justify-content: center;
				gap: 20px;

				.banner-cta {
					padding: 10px 20px;
					width: fit-content;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 500;
					border: 2px solid #ffffff;
					cursor: pointer;

					&.v2 {
						color: #000000;
						background-color: #ffffff;
					}
				}
			}
		}
	}
}
