@import '../../lib/config/mixins.scss';

.products-container {
	// margin: 50px 0;

	/* @include md {
		margin: 75px 0;
	} */

	padding: 0 25px;

	.sec-heading {
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;

		@include md {
			margin-bottom: 35px;
			font-size: 24px;
		}

		&:after {
			content: '';
			margin-top: 5px;
			display: block;
			width: 50px;
			height: 3px;
			background-color: #8e2de2;

			@include md {
				margin-top: 10px;
			}
		}
	}

	.products {
		display: grid;
		grid-template-columns: 1fr;
		gap: 25px;

		@include sm {
			grid-template-columns: repeat(2, 1fr);
		}

		@include md {
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
		}

		@include xl {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
